biothings-explorer==1.0.2
httpx
pytest
pytest-asyncio
pytest-harvest
git+https://github.com/biolink/biolink-model-toolkit.git@is_mixin
reasoner-validator
requests
pandas
markdown
jupyter-lab
tabulate
plotly
scipy
numpy
pytest-json-report
